<form class="login-form body h-100 p-3 d-flex flex-column">
    <h2 class="login-text text-center">Log In</h2>

    <input type="text" id="username-login" class="username form-control input-group mt-3" placeholder="Username">

    <input type="password" id="password-login" class="password form-control input-group mt-3" placeholder="Password">

    <div class="m-2">
        <input type="checkbox" onclick="showPassword()"> Show Password
    </div>

    <button class="login-button mt-2 mw-100" type="submit">Log In</button>

    <div class="d-flex justify-content-center mt-4">
        <a class="signup-link" href="../signup">Sign Up</a>
    </div>

</form>

<script src="/js/password.js"></script>
<script src="/js/login.js"></script>