<div class="d-flex flex-column"><!--the container for all the posts should be in column form-->
    <div class="d-block mt-3">
        <div class="post-header d-flex flex-row align-items-baseline justify-content-between pt-1 ps-3">
            <h2 class="homepage-post-title ps-1">
                {{title}}
            </h2>
            <h5 class="pe-2">
                created by {{user.username}} on {{format_date createdAt}}
            </h5>
        </div>
        <div class="post-main">
            <p class="homepage-post-body ps-3 pt-3 pb-3">
                {{body}}
            </p>
        </div>

        {{!-- TO BE INSERTED - COMMENTS --}}

        <div class="d-flex justify-content-end">
            <button class="add-comment-button mb-1 me-1">
                <img id="add-comment" src="/images/comment-yaicon-32px.png" alt="Add comment icon">
            </button>
        </div>
    </div>
</div>