<div class="login-card body w-50 h-50 p-3 d-flex flex-column">
    <h2 class="login-text text-center">Sign Up</h2>

    <input type="text" class="form-control input-group mt-3" placeholder="Username" aria-label="Username"
        aria-describedby="basic-addon1">

    <input type="password" id="myInput" class="form-control input-group mt-3" placeholder="Password"
        aria-label="Password" aria-describedby="basic-addon1">

    <div class="m-2">
        <input type="checkbox" onclick="showPassword()"> Show Password
    </div>

    <button class="in-button mt-2 mw-100">
        Sign Up
    </button>

    <div class="d-flex justify-content-center mt-4">
        {{!-- TODO: Add Route --}}
        <a class="sign-up" href="#blank">Log In</a>
    </div>

</div>