:root {
    --background-color: #FBF0E8;
    --nav-color: #F8D0D0;
    --button-color: #534859;
    --header-color: #faa7b1;
    --body-color: #f8cdcf;
    --text-color: #F4F4F4;
    --light-brown: #CC9999;
    --brown: #996666;
    --dark-brown: #663333;
    /* Add font size and increase nav bar font sizes */
}

body {
    background-color: var(--background-color);
}

nav {
    font-family: 'Halant', serif;
}

a {
    color: var(--dark-brown);
    text-decoration: none;
}

.navbar {
    background-color: var(--nav-color) !important;
}

.navbar-brand {
    color: var(--dark-brown) !important;
}

.login-form,
.signup-form {
    background-color: white;
    margin: 1rem;
    border: 2px var(--light-brown) solid;
    border-radius: 5px;
    padding: 10px;
}

.post-form {
    background-color: white;
    margin: 1rem;
    border: 2px white solid;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 14px var(--nav-color);
}

button {
    border-radius: 5px;
}

.logout-button,
.login-button,
.signup-button {
    padding: 5px;
    border: var(--button-color);
    background-color: var(--button-color);
    color: var(--text-color);
}

.back-button,
.edit-back-button,
.post-back-button {
    padding: 5px;
    border: var(--brown);
    background-color: var(--brown);
    color: var(--text-color);
}

.post-button {
    padding: 5px;
    border: var(--dark-brown);
    background-color: var(--dark-brown);
    color: var(--text-color);
}

.new-post-button {
    border: 3px var(--button-color) solid;
    background-color: var(--nav-color);
}

.post-header {
    background-color: var(--header-color);
}

.post-main {
    background-color: var(--body-color);
}

.comment-header {
    background-color: var(--header-color);
}

.comment-main {
    background-color: var(--body-color);
}